body {
  padding: 40px;
  background-color: lightslategray;
  color: white;
  font-family: Sans-Serif, serif;
}

.content {
  padding: 40px;
  text-align: center;
}

.page-title {
  padding-bottom: 30px;
  color: black;
}

table {
  margin-top: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}


a {
  color: lightskyblue;
}

a:hover {
  color: cornflowerblue;
}

.left-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white
}


/* Modal specific styles */
.modal-content {
  background-color: lightslategray;
  color: black;
}

.delete-modal-container {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.delete-modal-container h4 {
  padding-bottom: 15px;
}

.modal-content select {
  width: 386px;
  height: 38px;
  padding: 6px 12px 6px 12px;
  border-radius: 7px;
}

.formErrorText {
  margin-left: 12px;
  margin-bottom: 12px;
  color: darkred;
}

/* Styles to set special width to modals */
.modal-85 {
  min-width: 85vw;
}