body {
  padding: 40px;
  background-color: lightslategray;
  color: white;
  margin-bottom: 60px;
  font-family: Sans-Serif, serif;
}

.content {
  padding: 40px;
  text-align: center;
}

.pageTitle {
  padding-bottom: 30px;
  color: black;
}

table {
  margin-top: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

a {
  color: blue;
}

a:hover {
  color: darkblue;
}