body {
  padding: 40px;
  background-color: lightslategray;
  color: white;
  margin-bottom: 60px;
  font-family: Sans-Serif, serif;
}

.content {
  padding: 40px;
  text-align: center;
}

.page-title {
  padding-bottom: 30px;
  color: black;
}

table {
  margin-top: 30px;
}

footer {
  position: static;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

a {
  color: blue;
}

a:hover {
  color: darkblue;
}


/* Modal specific styles */
.modal-content {
  background-color: lightslategray;
  color: black;
}

.delete-modal-container {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.delete-modal-container h4 {
  padding-bottom: 15px;
}

.modal-content select {
  width: 386px;
  height: 38px;
  padding: 6px 12px 6px 12px;
  border-radius: 7px;
}

.formErrorText {
  margin-left: 12px;
  margin-bottom: 12px;
  color: darkred;
}